#logo {
    background-image: url(../img/Logo.png);
    background-size: 150%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
  }
/* .header {
    background: #3483D2;
    display: table; 
    table-layout: fixed;
    width: 100%;
    position:fixed; 
    z-index:1;    
} 
/*
 
.item {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: table-cell;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.item:hover {
    background: #748ffc;
}

.item:active, .item.active {
    background: white;
    color: #5c7cfa;
} */