body {
    font: 100% sans-serif;
    margin: 15px;
  }
  
  input {
    font-size: 18px;
    outline: 0;
    padding: 0 20px;
  }
  
  .field {
    border: 1px solid #ddd;
    display: flex;
    position: relative;
  }
  
  .field--focused {
    border-color: #ccc;
  }
  
  .input {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 0 10px 10px;
    width: 100%;
  }
  
  .clear-button,
  .submit-button {
    height: 25px;
    background: white;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    font-size: 0;
    outline: 0;
    /* padding: 10px 0 10px 10px; */
    width: 25px;
  }
  
  .clear-button {
    background-image: url(../img/clear.svg);
    background-size: 30%;
    padding: 0 20px;
    right: 0;
    width: 40px;
  }
  
  .submit-button {
    background-color: #e5e5e5;
    background-image: url(../img/search.svg);
    background-size: 35%;
    border: 1px solid #ddd;
    padding: 0 20px;
    opacity: .8;
    width: 40px;
  }
  
  .submit-button:hover {
    opacity: 1;
  }