  #CommentWrite{
    width:100%;
  }
  #Submit-button {
    opacity: 0.5;
  }

  #Clear-button {
    opacity: 0.5;
  }
  #Submit-button:hover {
    opacity: 1;
  }
  #Clear-button:hover {
    opacity: 1;
  }