body {
  margin: 0;
  padding: 0;
  background-color:#EFF3F7;
  height: 100%;
  font-family: D2-font;
}
@font-face{
  font-family: 'D2-font';
  src:url(./font/D2Coding-Ver1.3-20171129.ttf)
}
html, #root{
  height:100%;
}
